html {
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #222233;
  font-family: 'Poppins', sans-serif;
  ;
}

/*----Navbar----*/

/*----Homepage----*/

.padding-text-align {
  padding-top: 5em;
  text-align: center;
}

.homepage-card {
  font-size: large;
  background-color: rgba(34, 34, 51, 0.5);
  border-radius: 2em;
  animation: fade-cards-in 2s ease-out;
  margin-bottom: 5px;
  color: #AACCFF
}

@keyframes fade-cards-in {
  0% {
    opacity: .5;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(3px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.background {
  background-image: url('../img/night.jpg');
  background-color: #222233;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.homepage {
  padding-top: 15em;
  text-align: center;
}

/*----Add Review----*/
/*-some css also in reviews.html to stop repeating-*/

.form-bg {
  background-color: #222233;
  margin-top: 2em;
}

.form-text {
  color: #AACCFF;
  font-size: large;
}

.form-btn {
  text-align: center;
  background-color: #222233;
}
.center-header {
  text-align: center;
}

/*----Reviews----*/

.center {
  text-align: center;
}

.description {
  margin-top: 1em;
}

/*----Register----*/
/*-some css also in login.html to stop repeating-*/

.color-center {
  color: #AACCFF;
  text-align: center;
}

.padding-top {
  padding-top: 1em;
}


.border-box {
  border-radius: 1rem;
}
