<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% if title %}
  <title>GameScan - {{ title }} </title>
  {% else %}
  <title>Welcome to GameScan!</title>
  {% endif %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
  <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='img/favicon.ico') }}" />
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom ">
      <a class="navbar-brand" href="{{ url_for('index') }}">
       <img src="{{ url_for('static', filename='img/favicon.ico') }}" width="30" height="30" alt="">
  </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <!--Being 'logged in' will show different links-->
          {% if session['logged_in'] == True %}
          <a class="nav-item nav-link" href="{{ url_for('reviews') }}">Read a review</a>
          <a class="nav-item nav-link" href="{{ url_for('addreview') }}">Write a review</a>
          <a class="nav-item nav-link" href="{{ url_for('logout') }}">Sign Out</a> {% else %}
          <a class="nav-item nav-link" href="{{ url_for('reviews') }}">Read a review</a>
          <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
          <a class="nav-item nav-link" href="{{ url_for('login') }}">Log in</a> {% endif %}
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="jumbotron">
        <div class="row">
          <div class="col-lg-7">
            <h1>Looking for a review?</h1>
            <p>Use the search bar to help you out!</p>
          </div>
          <div class="col-lg-5">
            <form class="input-group mb-3" action="{{ url_for('search') }}" method="POST">
              <input class="form-control" type="text" name="query" />
              <div class="input-group-append">
                <button class="btn btn-dark" type="submit">Find a Review</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li class="alert-warning">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block content %} {% endblock %}
  </header>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>
