{% extends 'base.html'%} {% block content %} {% for game_review in game_reviews %}

<div class="card mb-4">
  <div class="card-header"><span class="review-title "><strong>Reviewed By: </strong></span>
    <strong><i class="fa fa-user-circle" aria-hidden="true"></i> </strong>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-4"><span class="review-title "><strong>Name:</strong></span> <span
          class="text-capitalize"> {{ game_reviews.name}} </span></div>
      <div class="col-12 col-md-4"><span class="review-title "><strong> Genre:</strong></span> <span
          class="text-capitalize"> {{ game_reviews.genre }}</span></div>
      <div class="col-12 col-md-4"><span class="review-title"><strong>Rating:</strong></span> <i
          class="{{ review.icon}}" aria-hidden="true"></i> <span class="text-capitalize"> {{ game_reviews.description }}
        </span> </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-12"><span class="review-title text-capitalize"><strong>Description:</strong></span><br>{{ game_reviews.description }}</div>
    </div>
    
{% endfor %} {% endblock %}
